<h1><%= @task.title %></h1>

<p><%= @task.details %></p>
<p><%= link_to 'Back to list', tasks_path  %> | <%= link_to "Delete", task_path(@task), method: :delete, data: {confirm: "Are You sure?"}  %></p>

